@font-face {
	font-family: "Regular";
	src: url("/fonts/PPEditorialNew-Medium.woff2") format("woff2");
	font-weight: 1 999;
	font-display: swap;
}

@font-face {
	font-family: "Bold";
	src: url("/fonts/PPEditorialNew-Ultrabold.woff2") format("woff2");
	font-weight: 1 999;
	font-display: swap;
}

@font-face {
	font-family: "Light";
	src: url("/fonts/PPEditorialNew-Ultralight.woff2") format("woff2");
	font-weight: 1 999;
	font-display: swap;
}

@font-face {
	font-family: "Headings";
	src: url("/fonts/Margo.woff2") format("woff2");
	font-weight: 1 999;
	font-display: swap;
}

html {
	--black: #000000;
	--white: #FAFAFA;

	--headings: "Headings", serif;
	--regular: "Regular", serif;
	--bold: "Bold", serif;
	--light: "Light", serif;
}

body {
	background-color: var(--white);
	font-family: var(--regular);
	margin: 0;
	padding: 30px;
	font-size: 16px
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--headings);
	color: var(--black);
	font-weight: 400;
	margin: 0;
}
h1 {
	font-size: 78px
}
h2 {
	font-size: 54px
}
h3 {
	font-size: 36px
}
h4 {
	font-size: 18px
}
strong,
b {
	font-family: var(--bold);
	font-weight: 400;
	color: var(--black);
}
a {
	font-family: var(--regular);
	color: var(--black);
	text-decoration: underline;
}
button {
	font-family: var(--regular);
	color: var(--black);
}
img {
	max-width: 100%;
	height: auto;
}
