@font-face {
	font-family: "Regular";
	src: url("/fonts/PPEditorialNew-Medium.woff") format("woff");
	font-weight: 1 999;
	font-display: swap;
}

@font-face {
	font-family: "Bold";
	src: url("/fonts/PPEditorialNew-Ultrabold.otf") format("opentype");
	font-weight: 1 999;
	font-display: swap;
}

@font-face {
	font-family: "Headings";
	src: url("/fonts/Margo.otf") format("opentype");
	font-weight: 1 999;
	font-display: swap;
}

html {
	--black: #000000;
	--white: #FAFAFA;
}

body {
	background-color: var(--white);
	font-family: "Regular", serif;
	margin: 0;
	padding: 30px;
	font-size: max(16px, 1.8vw)
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Headings", serif;
	color: var(--black);
	font-weight: 400;
	margin: 0;
}
h1 {
	font-size: max(32px, 7vw)
}
h2 {
	font-size: max(26px, 5vw)
}
h3 {
	font-size: max(20px, 3.5vw)
}
h4 {
	font-size: max(18px, 2vw)
}
strong,
b {
	font-family: "Bold", serif;
	color: var(--black);
}
a {
	color: var(--black);
	text-decoration: underline;
}
img {
	max-width: 100%;
	height: auto;
}
